<?xml version="1.0" encoding="UTF-8"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.estudionos.evilbombsdestroyer"
    version="1.0.0">

    <name>Evil Bombs Destroyer</name>
    <description>By Estúdio Nós - http://github.com/dmosantos - dmosantos@gmail.com</description>
    <author href="http://estudionos.com.br" email="dmosantos@gmail.com">Estúdio Nós</author>
    <icon src="icon.png" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <pataform name="android" />

</widget>